#modal[open] {
  width: 90%;
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#modal input,
#modal select {
  width: 100%;
  padding: 8px;
  border: 2px solid var(--title-color);
  border-radius: 5px;
}

#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com 50% de opacidade */
  backdrop-filter: blur(5px); /* Aplica um desfoque no fundo */
  z-index: 999; /* Fica atrás do modal */
}

#modal .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1.5em;
}

#modal button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  margin-bottom: 0.5em;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  display: none;
}

.close-button:hover svg{
  fill: var(--primary-color);
}

.close-button:hover{
  background-color: var(--title-color);
}